body {
  background-color: #3c3c3c;
}
.stretch-column-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
}
.stretch-row-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
}
.windows {
  max-width: 750px;
  width: 80%;
  align-self: center;
  display: flex;
}
.windows-button {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  flex-grow: 0;
  margin: 0px 8px 0px 0px;
  display: flex;
}
.exe {
  color: coral;
  text-decoration: none;
  margin: 0px 10px 0px 0px;
}
.exe:hover {
  text-decoration: underline;
  color: orangered;
}
.folder {
  color: cadetblue;
  text-decoration: none;
}
.file {
  color: white;
  text-decoration: none;
}
.file:hover {
  color: white;
  text-decoration: underline;
}
.bar {
  text-align: center;
  height: 25px;
  background-color: #dad9d9;
  font-family: monospace;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  display: flex;
}
.screen {
  background-color: #292929;
  min-height: 550px;
  border-radius: 0px 0px 8px 8px;
  margin: 0 auto;
  overflow: scroll;
}
.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  border: none;
}
.command {
  color: #fff;
  font-family: monospace;
  font-size: 12px;
  text-align: left;
  position: static;
  margin: 10px 10px 0px 10px;
}
.copyright {
  width: 100%;
  height: 10%;
  color: #959595;
  font-size: 10pt;
  text-align: center;
  margin: 10px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.head-title {
  font-family: monospace;
  color: #fff;
  margin: auto;
  padding: 35px;
  font-size: 40px;
  text-align: center;
}
#cmd-current {
  margin-bottom: 20px;
}
@media only screen and (max-width: 640px) {
  .windows {
    width: 100%;
    margin: 0px 20px 0px 20px;
  }
  .head-title {
    font-size: 30px;
  }
}