<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>关于我 | TBXark</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="我是TBXark,一条 iOS 代码(单身)狗.精通 iOS/Android 平台….的手机的贴膜(笑~)自从使用 ReactiveCocoa 后就疯狂的爱上的 MVVM 模式,从此走上了一条不归路.现在已经入了 RxSwift 的坑,再也爬不出来.热爱编程(笑~),热爱动漫,热爱萝莉(大雾)突然有一天觉得之前写得代码太丑,所以就把 Github 上面的东西都清空了.现在努力的写出更漂亮的代码">
<meta property="og:type" content="website">
<meta property="og:title" content="关于我">
<meta property="og:url" content="http://tbxark.site/about/index.html">
<meta property="og:site_name" content="TBXark">
<meta property="og:description" content="我是TBXark,一条 iOS 代码(单身)狗.精通 iOS/Android 平台….的手机的贴膜(笑~)自从使用 ReactiveCocoa 后就疯狂的爱上的 MVVM 模式,从此走上了一条不归路.现在已经入了 RxSwift 的坑,再也爬不出来.热爱编程(笑~),热爱动漫,热爱萝莉(大雾)突然有一天觉得之前写得代码太丑,所以就把 Github 上面的东西都清空了.现在努力的写出更漂亮的代码">
<meta property="og:image" content="http://tbxark.site/../images/TBXark-Avatar-Circle.png">
<meta property="og:updated_time" content="2016-11-20T16:18:28.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="关于我">
<meta name="twitter:description" content="我是TBXark,一条 iOS 代码(单身)狗.精通 iOS/Android 平台….的手机的贴膜(笑~)自从使用 ReactiveCocoa 后就疯狂的爱上的 MVVM 模式,从此走上了一条不归路.现在已经入了 RxSwift 的坑,再也爬不出来.热爱编程(笑~),热爱动漫,热爱萝莉(大雾)突然有一天觉得之前写得代码太丑,所以就把 Github 上面的东西都清空了.现在努力的写出更漂亮的代码">
<meta name="twitter:image" content="http://tbxark.site/../images/TBXark-Avatar-Circle.png">
  
  
    <link rel="icon" href="/favicon.ico">
  
  <link rel="stylesheet" href="/css/style.css">
  {% if page.tags and page.tags.length %}
	<meta name="keywords" content="{% for tag in page.tags %}{{ tag.name }},{% endfor %}" />
  {% else %}
  {% if theme.keywords %}
      <meta name="keywords" content="{{ theme.keywords }}" />
  {% endif %}
</head>

<body>
  <div id="container">
    <div class="mobile-nav-panel">
	<i class="icon-reorder icon-large"></i>
</div>
<header id="header">
	<h1 class="blog-title">
		<a href="/">TBXark</a>
	</h1>
	<nav class="nav">
		<ul>
			<li><a href="/">home</a></li><li><a href="/archives">archives</a></li><li><a href="/about">about</a></li>
			<!-- <li><a id="nav-search-btn" class="nav-icon" title="Search"></a></li> -->
			<!--  -->
		</ul>
	</nav>
	<div id="search-form-wrap">
		<form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form"><input type="search" name="q" results="0" class="search-form-input" placeholder="Search"><button type="submit" class="search-form-submit">&#xF002;</button><input type="hidden" name="sitesearch" value="http://tbxark.site"></form>
	</div>
</header>

    <div id="main">
      <article id="page-undefined" class="post">
	<footer class="entry-meta-header">
		<span class="meta-elements date">
			<a href="/about/index.html" class="article-date">
  <time datetime="2015-10-23T06:27:19.000Z" itemprop="datePublished">2015-10-23</time>
</a>
		</span>
		<span class="meta-elements author"></span>
		<div class="commentscount">
			
		</div>
	</footer>
	
	<header class="entry-header">
		
  
    <h1 class="article-title entry-title" itemprop="name">
      关于我
    </h1>
  

	</header>
	<div class="entry-content">
		
    	<div class="about-avatar" align="center"><br><img src="../images/TBXark-Avatar-Circle.png" width="300" height="300" alt="图片名称" align="center"><br></div>

<div class="about-body" align="center"><br><p><br>我是<font style="font-weight:bold">TBXark</font>,一条 iOS 代码<s>(单身)</s>狗.<br><br>精通 iOS/Android 平台….的手机的贴膜(笑~)<br><br><br>自从使用 ReactiveCocoa 后就疯狂的爱上的 MVVM 模式,从此走上了一条不归路.<br><br>现在已经入了 RxSwift 的坑,再也爬不出来.<br><br><br><s>热爱编程(笑~)</s>,热爱动漫,<font color="#000" style="BACKGROUND-COLOR:#000">热爱萝莉(大雾)</font><br><br>突然有一天觉得之前写得代码太丑,所以就把 <a ahref="https://github.com/TBXark">Github</a> 上面的东西都清空了.<br><br>现在努力的写出更漂亮的代码放在上面. <br><br> <br><br></p><br></div>

<div class="about-footer" align="center"><br><br><br><li><font style="font-weight:bold">Twitter:</font>  <a ahref="https://twitter.com/vfanx">@TBXark</a> <a href="https://twitter.com/tbxark" target="_blank" rel="external">https://twitter.com/tbxark</a><br></li><li><font style="font-weight:bold">新浪微博:</font>  <a ahref="http://weibo.com/tbxark">@TBXark</a> <a href="http://weibo.com/tbxark" target="_blank" rel="external">http://weibo.com/tbxark</a><br></li><li><font style="font-weight:bold">Github:</font>  <a ahref="https://github.com/TBXark">@TBXark</a> <a href="https://github.com/TBXark" target="_blank" rel="external">https://github.com/TBXark</a><br></li></div>

    
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="tags">
				
			</span>
		</div>
	</footer>
	
    
  
</article>





    </div>
    <div class="mb-search">
  <form action="//google.com/search" method="get" accept-charset="utf-8">
    <input type="search" name="q" results="0" placeholder="Search">
    <input type="hidden" name="q" value="site:tbxark.site">
  </form>
</div>
<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="/">TBXark</a>
	</h1>
	<span class="copyright">
		&copy; 2016 TBXark<br>
		Theme by <a href="http://sanographix.github.io/tumblr/apollo/" target="_blank">Apollo</a>
		Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
	</span>
</footer>

    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>



<script src="/js/script.js"></script>
  </div>
</body>
</html>